🐛 Bug Report: Missing SSL encryption option for custom SMTP server

### 👟 Reproduction steps

If i want to set custom SMTP settings this is not possible, because they where not saved.
No error message occurs or anything else.

![image](https://github.com/appwrite/appwrite/assets/6043382/3aee3ecb-c328-481c-be9b-f5a521ee46cb)


I will fill in the correct data (and these are tested via ENV variables - works).
If i hit update, the button gets gray but nothing else happend.

![image](https://github.com/appwrite/appwrite/assets/6043382/bb8ac49e-aaff-4f6e-93d8-3a3565763ab0)


On next page refresh Custom SMTP is still off and all data reset.

### 👍 Expected behavior

I can set custom SMTP server.

### 👎 Actual Behavior

I can't

### 🎲 Appwrite version

Version 1.4.x

### 💻 Operating system

Linux

### 🧱 Your Environment

Debian (in LXC) on a Proxmox Cluster

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/.github/blob/main/CODE_OF_CONDUCT.md)

Just tried reproducing it, and it appears to be a bug. Thanks for raising the issue 🙏 
Will take it to the team

@Schrolli91, what version of Appwrite are you running? Would you please check the network logs in the browser to see what the response of the API call is?

It's version 1.4.8

In chrome, there is a request after the button press. But it will stay at pending.

Therese never an answer for the server. Do you need some logs? Where I can find them? I am using it in a docker environment. 

@Schrolli91, do you have anything like a reverse proxy in front of Appwrite? 

It might be helpful to check the docker logs for the appwrite container.

I have used the official install script from here
https://appwrite.io/docs/advanced/self-hosting#install-with-docker

So there is traefik involved. In front if this setup there is a nginx which will proxy my subdomains.

Is there anything different to other api points here? Because anything other will work like a Charme.

In which of these containers I can find some relevant logs? There's a lot of containers involved ;D

> In front if this setup there is a nginx which will proxy my subdomains.

Okay, nginx is probably returning the 504. It's probably timing out at nginx. Maybe you can increase the timeout?

> In which of these containers I can find some relevant logs? There's a lot of containers involved ;D

The appwrite container, please!

With wrong data i will see this error in the Appwrite container:
```
appwrite  | [Error] Timestamp: 2023-11-03T21:08:09+00:00
appwrite  | [Error] Method: PATCH
appwrite  | [Error] URL: /v1/projects/:projectId/smtp
appwrite  | [Error] Type: Appwrite\Extend\Exception
appwrite  | [Error] Message: Could not connect to SMTP server: SMTP Error: Could not connect to SMTP host. Failed to connect to server
appwrite  | [Error] File: /usr/src/code/app/controllers/api/projects.php
appwrite  | [Error] Line: 1621
```

With correct data there is nothing but the gateway timeout.

Im not sure if the Nginx can lead to this behavior, because all other function (also realtime etc) will work perfect. Only this one form will not work.

@Schrolli91,

> With wrong data i will see this error after a very short time in the Appwrite container

Are you trying with the correct host, port, and TLS, but an incorrect username and password?

> Im not sure if the Nginx can lead to this behavior, because all other function (also realtime etc) will work perfect. Only this one form will not work.

It still can be Nginx because this API call is taking a while to return...too long for nginx so nginx times out. The other API calls don't take a while so it's not timing out. Please try increase the timeout on Nginx.

How do you define "a while"? If i send mails trough appwrite via this smtp account (data via env vars), the mails will be send in milliseconds.
Why does a Connectionen check (i think, that is whats going on here?) will take so much time?

I have increased the nginx timeout to 30 minutes... and now i can wait 30 minutes until the timeout will hit appwrite. So i think, the timeout is not the problem here.

Hi @Schrolli91 

Not exactly a solution to your problem but some findings I've made while getting more into appwrite for personal reasons:

The detailed error message you're getting ('SMTP Error: Could not connect to SMTP host.') 

```
[...]
appwrite  | [Error] Message: Could not connect to SMTP server: SMTP Error: Could not connect to SMTP host.
[...]
```

comes from PHPMailer and not appwrite itself:
```
            'connect_host' => 'SMTP Error: Could not connect to SMTP host.',
```
(Source: https://github.com/PHPMailer/PHPMailer/blob/ee4090bd62ad3ded3eac19d6fd0213abbe3596f1/src/PHPMailer.php#L2290)

There are only two possibilities where this error is thrown within PHPMailer, both in the smtpConnect() function

1) Depending on your settings and your servers availability of TLS/STARTTLS:
```
                    if ($tls) {
                        if (!$this->smtp->startTLS()) {
                            $message = $this->getSmtpErrorMessage('connect_host');
                            throw new Exception($message);
                        }
```
(https://github.com/PHPMailer/PHPMailer/blob/ee4090bd62ad3ded3eac19d6fd0213abbe3596f1/src/PHPMailer.php#L2200-L2207)

2) No clear reason for the error:
```
        if ($this->exceptions) {
            // no exception was thrown, likely $this->smtp->connect() failed
            $message = $this->getSmtpErrorMessage('connect_host');
            throw new Exception($message);
        }
```
(https://github.com/PHPMailer/PHPMailer/blob/ee4090bd62ad3ded3eac19d6fd0213abbe3596f1/src/PHPMailer.php#L2234-L2238)

PHPMailer's smtpConnect() is also the one used by appwrite to check for valid settings, see line 1615 (which by failing throws an error including PHPMailer's error stated above; see line 1621 which is also the one mentioned in your log):
https://github.com/appwrite/appwrite/blob/19e523549166584941bac0dd6c26b9de6468e48c/app/controllers/api/projects.php#L1614-L1622

the only difference to the code using your env vars is the timeout, compare:
https://github.com/appwrite/appwrite/blob/19e523549166584941bac0dd6c26b9de6468e48c/app/controllers/api/projects.php#L1604-L1612

with:

https://github.com/appwrite/appwrite/blob/19e523549166584941bac0dd6c26b9de6468e48c/app/init.php#L796-L811


So if you think all your settings are correct, especially those concerning TLS you may run into a timeout while connecting to your SMTP? The timeout set by appwrite is 5 seconds btw.

Hope this might help you.

> ```
> appwrite  | [Error] Timestamp: 2023-11-04T07:49:22+00:00
> appwrite  | [Error] Method: PATCH
> appwrite  | [Error] URL: /v1/projects/:projectId/smtp
> appwrite  | [Error] Type: Appwrite\Extend\Exception
> appwrite  | [Error] Message: Could not connect to SMTP server: SMTP Error: Could not connect to SMTP host.
> appwrite  | [Error] File: /usr/src/code/app/controllers/api/projects.php
> appwrite  | [Error] Line: 1621
> ```

Nice! The real error! 

> I will fill in the correct data (and these are tested via ENV variables - works).

Via env vars, what do you set the `_APP_SMTP_SECURE` env var to? And when you tested with env vars, it was on the same instance, right?

> ![image](https://user-images.githubusercontent.com/6043382/279283505-bb8ac49e-aaff-4f6e-93d8-3a3565763ab0.png)

Did you try with that TLS enabled?

@webkp, thanks for the detailed analysis!

> For the `_APP_SMTP_SECURE` var I set it to `ssl`, not `tls`. This will work.

I think this is the problem...We don't allow `ssl` and only allow `tls` at the moment...

https://github.com/appwrite/appwrite/blob/7110836beb2828cc60692c9b8cab17b4f57cfac7/app/controllers/api/projects.php#L1578

Since you're self-hosting, you could try to update that line of code to pass in `['tls', 'ssl']` instead, restart the appwrite container, and then test it. Alternatively, you could try and use the TLS port for your SMTP provider.

Also, looks like the timeout for testing the connection is 5 minutes:

https://github.com/appwrite/appwrite/blob/7110836beb2828cc60692c9b8cab17b4f57cfac7/app/controllers/api/projects.php#L1612

Glad it might helped a bit @Schrolli91 🙂 

@stnguyen90 
> Also, looks like the timeout for testing the connection is 5 minutes:
> 
> https://github.com/appwrite/appwrite/blob/7110836beb2828cc60692c9b8cab17b4f57cfac7/app/controllers/api/projects.php#L1612

I think the timeout set in appwrite is 5 seconds, since PHPMailer uses seconds for Timeout

```
    /**
     * The SMTP server timeout in seconds.
     * Default of 5 minutes (300sec) is from RFC2821 section 4.5.3.2.
     *
     * @var int
     */
    public $Timeout = 300;
```
https://github.com/PHPMailer/PHPMailer/blob/ee4090bd62ad3ded3eac19d6fd0213abbe3596f1/src/PHPMailer.php#L367-L373

@stnguyen90 @webkp @Haimantika 
Thanks for all your help - I have fixed it now!

On my mail hosting provider only the SSL Port is documented, but I tried some default TLS Ports and found one :-D
So, now it's running without changes in the codebase - with TLS checkbox on UI set.



This should be added as part of 1.5:
<img width="1169" alt="image" src="https://github.com/appwrite/appwrite/assets/1477010/512e3c9b-9bb4-46d0-b540-3b9c961faff8">
