Storage create_file doesn't create a file in Python

## 🐛 Bug Report

Storage `create_file`doesn't create a file in Python. It does not throw an exception and returns a list of previous user's files.

## Have you spent some time to check if this issue has been raised before?

Yes.

## To Reproduce
```python
# Configuration
SECRET_KEY = 'secret_key'
ALGORITHM = 'HS256'
ENDPOINT = 'http://localhost/v1'
PROJECT = '611827981493e'
token = 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiI2MTMyODc0NDZlMzQ2Iiwic2Vzc2lvbklkIjoiNjEzNGE4ZGVjYzU0NSIsImV4cCI6MTYzMDg0MjU1MX0.lF_qARVt767T37AZWq3Hd1ovwfOJRsAHltWWJ5I4cUs'

# Token info
token_data = jwt.decode(token, SECRET_KEY, algorithms=ALGORITHM)
print(f'JWT:  {token}')
print(f'JWT: {token_data}')

# Client
client = Client().set_endpoint(ENDPOINT).set_project(PROJECT).set_jwt(token)

# Making sure token is ok
account = Account(client)
print(account.get())

# Creating a new file
storage = Storage(client)
res = storage.create_file(open('image.png', 'rb'))
```
## Expected behavior

To create the file and return the created [file object](https://appwrite.io/docs/models/file) according the [documentation](https://appwrite.io/docs/client/storage?sdk=web-default#storageCreateFile). 

## Actual Behavior

The JWT is properly decoded:
```
JWT:  eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VySWQiOiI2MTMyODc0NDZlMzQ2Iiwic2Vzc2lvbklkIjoiNjEzNGE4ZGVjYzU0NSIsImV4cCI6MTYzMDg0MjU1MX0.lF_qARVt767T37AZWq3Hd1ovwfOJRsAHltWWJ5I4cUs
JWT: {'userId': '613287446e346', 'sessionId': '6134a8decc545', 'exp': 1630842551}
```

JWT is valid and account info is obtained:
```
{'$id': '613287446e346', 'name': 'Javi', 'registration': 1630701380, 'status': 0, 'passwordUpdate': 1630701380, 'email': 'test@gmail.com', 'emailVerification': False, 'prefs': {}}
```

But:
- The file is not created.
- An exception appears in Appwrite logs.
- The `create_file` returns a list of the previous user's files instead of an exception or  [file object](https://appwrite.io/docs/models/file).

**Appwrite logs:**
```
[Error] Timestamp: 2021-09-05T11:25:49+00:00
[Error] Method: POST
[Error] URL: /v1/storage/files
[Error] Type: Appwrite\Database\Exception\Authorization
[Error] Message: Missing "write" permission for role "user:613287446e346". Only this scopes "["*"]" are given and only this are allowed "["user:613287446e346"]".
[Error] File: /usr/src/code/src/Appwrite/Database/Database.php
[Error] Line: 239
```
**`create_file` result:**
```json
{
    "files": [
        {
            "$id": "6133c6045f612",
            "$permissions": {
                "read": [
                    "user:613287446e346"
                ],
                "write": [
                    "user:613287446e346"
                ]
            },
            "dateCreated": 1630782980,
            "mimeType": "image/jpeg",
            "name": "20171122_124315.jpg",
            "signature": "c99250f06116a445a65b35c7cbf261e6",
            "sizeOriginal": 739047
        },
        {
            "$id": "6133c645d116c",
            "$permissions": {
                "read": [
                    "user:613287446e346"
                ],
                "write": [
                    "user:613287446e346"
                ]
            },
            "dateCreated": 1630783045,
            "mimeType": "image/jpeg",
            "name": "20171122_124315.jpg",
            "signature": "727461dfacf048b142e86143740386e3",
            "sizeOriginal": 739047
        },
        {
            "$id": "6133c813dd6cb",
            "$permissions": {
                "read": [
                    "user:613287446e346"
                ],
                "write": [
                    "user:613287446e346"
                ]
            },
            "dateCreated": 1630783507,
            "mimeType": "image/jpeg",
            "name": "20171122_124315.jpg",
            "signature": "c16a14e72e2879ca41732b4d6506184a",
            "sizeOriginal": 739047
        },
        {
            "$id": "6133c9c1c7ebf",
            "$permissions": {
                "read": [
                    "user:613287446e346"
                ],
                "write": [
                    "user:613287446e346"
                ]
            },
            "dateCreated": 1630783937,
            "mimeType": "image/jpeg",
            "name": "20171122_124315.jpg",
            "signature": "49b29a448ab9864e835a6bbc4db8572e",
            "sizeOriginal": 739047
        }
    ],
    "sum": 4
}

```

**NOTE:** The file seems to be properly created and stored. The problems seems to be in storing the information to keep track of the file in the DB. If the first call to `isValid` in `Database.php` from `appwrite/src/Appwrite/Database/` is commented, the file is properly stored in the DB. However, the `create_file` method still returns a list of the user's files instead of the new created file.

```php
    public function createDocument(array $data, array $unique = [])
    {
        $document = new Document($data);

        $validator = new Authorization($document, 'write');

        /* if (!$validator->isValid($document->getPermissions())) { // Check if user has write access to this document
            throw new AuthorizationException($validator->getDescription());
        }*/

        $validator = new Structure($this);
        
        $document = $this->encode($document);

        if (!$validator->isValid($document)) {
            throw new StructureException($validator->getDescription()); // var_dump($validator->getDescription()); return false;
        }
        
        $document = new Document($this->adapter->createDocument($document->getArrayCopy(), $unique));
        
        $document = $this->decode($document);

        return $document;
    }
```

## Your Environment

- Linux
- Appwrite master branch
- Python 3.8
- Appwrite Python package 0.5.0


Hi @PineappleIOnic,

I found the cause, not sure why this is happening. The problem is when `_APP_OPTIONS_FORCE_HTTPS` is `enabled` and the endpoint is `http`. Otherwise it works fine.

While debugging the Python code I noticed than even thought the request is a `POST` request, the response stated `PreparedRequest [GET]`.

Found a [conversation about this here](https://github.com/traefik/traefik/issues/1819), not sure if this is related. 

When you have time, let me know if you can reproduce this, thanks.

When `_APP_OPTIONS_FORCE_HTTPS` is enabled all `http` traffic is redirected to `https`. Maybe we should throw an exception on non-GET requests instead to make this easier to debug. @PineappleIOnic @TorstenDittmann got any feedback about it?

This info in the previous link I shared maybe related to this issue:

> When you have a redirect (http -> https), the response is returned to the client as a 301/302. What your client does with that is up to it.

Also, more discussion here: https://github.com/traefik/traefik/issues/1819

> Traefik only answers with 301 and the header Location, so the behavior you meet depends on the HTTP client, not on Traefik. Reference: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.3.2.

So in this case, this depends then on the behavior of the requests Python package?


@eldadfux Yes, this is not really an important issue, since I should have used `https` in the first place.

But I'm wondering why this is happening. I think this is what's going on here.

- From a Python Appwrite function, I use `create_file` from the Appwrite Python SDK which internally uses the Python `requests` package with a `POST` request.
- Since my endpoint is `http` and `_APP_OPTIONS_FORCE_HTTPS` is true, Traefik or Appwrite, not sure, answers with redirect `301` to `https`.
- Then, the Python `requests` package automatically redirects since by default `allow_redirects=True`.
- But, why does `requests` change the verb from `POST` to `GET`? 

I read further about this and found some info:

- `301`: changes `POST` to `GET`, as allowed by the note in RFC 7231 Section 6.4.2 and as done by browsers.
- `308`: it is similar to `301` but does not allows the request method to be changed from `POST` to `GET`.

Could be the `301` changed by `308`? Who is in charge of this, Traefik or Appwrite?